@charset "UTF-8";
/* Habitaciones*/
@media only screen and (max-width: 768px) {
  .standard {
    padding: 50px 0px 0px 0px;
    justify-content: center;
    text-align: none; }
  .contenedor {
    margin: 0px;
    padding: 0px; }
  .texto {
    padding-left: 30px; }
  .img-fluid2 {
    width: 250px; } }

@media only screen and (max-width: 375px) {
  .contenedor {
    margin: 0px;
    padding: 0px; }
  .standard {
    justify-content: none;
    text-align: none; }
  .texto {
    margin-bottom: 40px;
    margin-right: 10px; }
  .img-fluid2 {
    width: 310px; } }

@media only screen and (max-width: 320px) {
  .contenedor {
    margin: 0px;
    padding: 0px; }
  .ul {
    padding-left: 10px;
    margin-left: 10px; }
  .titular {
    padding-left: 2px;
    padding-right: 2px; }
  .texto {
    margin-bottom: 50px;
    margin-right: 10px; }
  .standard {
    padding: 40px 10px 0px 3px;
    justify-content: none;
    text-align: none; }
  .img-fluid2 {
    width: 260px; } }

/*---- GRADIENTE-Animación y Transform ---*/
#grad {
  background-image: linear-gradient(#9fccbd, #77c9ab); }

#animacion {
  animation: animacion 1s; }

@keyframes animacion {
  0% {
    transform: scale(1); }
  10% {
    transform: scale(1.05, 1.05); }
  20% {
    transform: scale(1.1, 1.1); }
  30% {
    transform: scale(1.15, 1.15); }
  40% {
    transform: scale(1.2, 1.2); }
  60% {
    transform: scale(1.15, 1.15); }
  80% {
    transform: scale(1.1, 1.1); }
  90% {
    transform: scale(1.05, 1.05); }
  100% {
    transform: scale(1); } }

/*VARIABLES y OPERACIONES*/
.logo {
  padding-left: 20px;
  width: 85px; }

nav {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 300; }

.nav__submenu {
  font-weight: 103; }

.nav__carrusel {
  color: white; }

h1 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  color: #707070;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 20px;
  padding-bottom: 10px; }

h2 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  color: #707070;
  font-size: 16px;
  padding: 5px 0px 20px 0px; }

.encabezado {
  padding-top: 10px;
  padding-bottom: 5px; }

h3 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 800;
  color: #707070;
  padding: 20px;
  margin: auto; }

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #707070;
  font-weight: 300; }

.cardstexto {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #707070;
  font-weight: 300; }

.home {
  display: flex;
  flex-flow: column wrap;
  align-content: center; }

body {
  background-color: #F5F5F5;
  position: relative;
  padding-bottom: 80px;
  min-height: 100vh;
  margin: 0; }

#li {
  padding-top: 15px;
  margin-top: 10px; }

main {
  background-color: #F5F5F5;
  padding-top: 100px; }

/*ANIDACIONES FOOTER*/
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 5px; }
  footer p {
    color: white;
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 2px;
    margin-top: 5px;
    font-weight: 300px;
    text-align: center; }

.footerRedes {
  display: grid;
  grid-template-columns: 40px 40px 40px;
  justify-content: center;
  list-style: none; }
  .footerRedes img {
    width: 20px;
    height: 20px; }

section {
  margin-bottom: 20px; }

/* SOBRE NOSOTROS y HABITACIONES */
.texto {
  margin-left: 15px;
  padding-left: 15px;
  width: 600px;
  text-align: none; }

.icon {
  width: 20px;
  height: 20px;
  margin-right: 10px; }

.assets {
  list-style: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #707070;
  font-weight: 300;
  padding-top: 10px; }

.carousel2 {
  max-height: 400px; }

.imgSN {
  margin-top: 20px; }

/*--UBICACIÓN-*/
.mapa {
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  text-align: center;
  margin: 0px 30px 30px 30px; }

/* -- CONTACTO--*/
.contacto {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #707070;
  padding-bottom: 30px;
  margin-bottom: 10px; }

.contacto__sub {
  text-align: center;
  padding: 0px 10px 20px 10px; }

.informacion {
  padding-bottom: 20px; }

label {
  margin: 10px;
  min-width: 150px; }

.input {
  border: none;
  width: 50%;
  height: 35px;
  margin: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #707070; }

textarea {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  border: none;
  width: 70%; }

.botones {
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-weight: 300px;
  width: 90px;
  height: 30px;
  border: none;
  margin-top: 20px;
  margin-bottom: 20px; }

#input input:hover {
  background-color: #B5D7D0; }

#check {
  width: 15px;
  height: 15px; }
