@import "responsive" ;

/*VARIABLES y OPERACIONES*/

$blanco: white;
$gris: #707070;
$verde: #B5D7D0;
$fondo: #F5F5F5;
$font: 100;

.logo {
    padding-left: 20px;
    width: 85px;
} 

nav {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: $font*3;
}

.nav__submenu {
    font-weight: $font+3;
}

.nav__carrusel {
    color: $blanco;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    color:$gris;
    font-weight: $font*8;
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

h2 {
    font-family:'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: $font*8;
    color: $gris;
    font-size: 16px;
    padding: 10px 0px 20px 0px;
}

.encabezado {
    padding-top: 10px;
    padding-bottom: 5px;
}

h3 {
    font-family:'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 800;
    color: $gris;
    padding: 20px;
    margin: auto;

}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: $gris;
    font-weight: 300;
}

.home {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}

body {
    background-color: $fondo;
    position: relative;
    padding-bottom:80px;
    min-height: 100vh;
    margin: 0;
}

#li {
    padding-top: 15px;
    margin-top: 10px;
}


main {
    background-color: $fondo;
    padding-top: 100px;
}

/*ANIDACIONES FOOTER*/

 footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 5px;
  p {
    color: $blanco;
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 2px;
    margin-top: 5px;
    font-weight: 300px;
    text-align: center;
  }
}

.footerRedes {
    display: grid;
    grid-template-columns: 40px 40px 40px;
    justify-content: center;
    list-style: none; 
     img {
        width: 20px;
        height: 20px;
     }  
}

section {
    margin-bottom: 20px;
}
 
 /*---- GRADIENTE-Animación y Transform ---*/

 #grad {
    background-image: linear-gradient( #9fccbd, #77c9ab);
 }

 #animacion {
    animation: animacion 1s;
}

@keyframes animacion {
   0% {
       transform: scale(1);
   }
    10% {
    transform: scale(1.05,1.05);
    } 
    20% {
        transform: scale(1.10,1.10);
    }
    30% {
        transform: scale(1.15,1.15);
    }
    40% {
        transform: scale(1.20,1.20);
    }
    60% {
        transform: scale(1.15,1.15);
    }
    80% {
        transform:scale(1.10, 1.10);
    }
    90% {
        transform:scale(1.05, 1.05);
    }
    100% {
        transform: scale(1);
    }

}

 /* SOBRE NOSOTROS y HABITACIONES */
 
.imgSN {
    margin-left: 20px;
    margin-right: 10px;
    border-radius: 2px;
    width: 400px;
}

.imgSN--modifier {
    @extend .imgSN;
    width: 100%;
}

.texto{
    margin-left: 30px;
    padding-left: 30px;
    width: 500px;
    text-align: none;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

li { 
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: $gris;
    font-weight: 300;
    padding-top: 10px;
}

.carousel2 { 
    max-height: 400px;
}

/*--UBICACIÓN-*/

.mapa {
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    text-align: center;
    margin: 0px 30px 30px 30px;
}

/* -- CONTACTO--*/

.contacto {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: $gris;
    padding-bottom: 30px;
    margin-bottom: 10px;
}

.contacto__sub {
    text-align: center;
    padding: 0px 10px 20px 10px;    
}

.informacion {
    padding-bottom: 20px;
}

label {
    margin:10px;
    min-width: 150px
}

.input {
    border:none;
    width: 50%;
    height: 35px;
    margin: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: $gris;
}

textarea {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    border: none;
    width: 70%;
}

.botones {
    background-color: black;
    color: $blanco;
    text-transform: uppercase;
    font-weight: 300px;
    width: 90px;
    height: 30px;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

#input input:hover {
    background-color: $verde;
}

#check {
    width: 15px;
    height: 15px;
}
